body {
  background-image:url("images/mtg.svg");
  background-position:top right;
  background-repeat:no-repeat;
  background-size: 50%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 3vmin;
  min-height: 30px;
  pointer-events: none;
}

.Step {
  object-fit: cover;
  height: 6vmin;
  min-height: 30px;
  margin-top:-1vmin;
}

.Wrap {
  word-wrap: break-word;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}

.CardBack {
  width:122px;
  height:170px;
}

.HoverButton {
  padding: 0;
  background: none;
  margin: 0;
  border: none;
  color: #f50057;
}

.HoverButton :hover {
  color: white;
  background: #f50057;
  border-radius: 5;
  text-decoration: none;
}
