body {
  background-image:url("images/mtg.svg");
  background-position:bottom right;
  background-repeat:no-repeat;
  background-size: 30%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 3vmin;
  pointer-events: none;
}

.Step {
  object-fit: cover;
  height: 6vmin;
  margin-top:-1vmin;
}

.Wrap {
  word-wrap: break-word;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}